<!DOCTYPE html>
<html>
  <head>
    <title>Giftmash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "giftmash", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Results", results_gifts_path, class: "nav-link active"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
